<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="26fb3a35-bc6f-4dbf-ab92-3756e73f8b56" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 4" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="26fb3a35-bc6f-4dbf-ab92-3756e73f8b56fileName">REST-Service-4</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints/>
</con:interface>
