<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="45589cfc-7cf4-44aa-8d40-0b6d3010cf35" name="MNT2020" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="45589cfc-7cf4-44aa-8d40-0b6d3010cf35fileName">MNT2020</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
