<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="d4925e1c-d116-4900-bef4-9d4f7f40c0ce" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 2" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="d4925e1c-d116-4900-bef4-9d4f7f40c0cefileName">REST-Service-2</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints/>
</con:interface>
